body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding-top: 60px;
}

#completionMessage {
    width: 100%;
    max-width: 600px;
    text-align: center;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    box-sizing: border-box;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.controls {
    text-align: center;
    margin: auto;
    max-width: 600px;
    padding: 20px;
}

.controls button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

#prevBtn.hide {
    display: none;
}

.topnav {
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.show {
    display: flex !important;
}
